.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.title {
    font-family: "CarterOne", serif;
    font-size: 45px;
    color: var(--color-white);
}

.image {
    width: 100px;
    height: auto;
}